/*
button {
    background-color: aquamarine;
    font-size: 17px;
    padding: 15px 30px;
    color: darkgreen;
    width: 100px;

}


.count {
    font-size: 50px;
    padding: 15px 30px;
}

.reset {
    background-color: red;
    color: white;
    width: 200px;
}

body {
padding: 15px 30px;
}

*/